{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="fr">
<body>
<div id="main-container">
    {{ include('partials/nav.html.twig') }}
    <main>
        <header>
            <div id="current-user"></div>
            <div id="title-page">
                <div class="flex-header">
                <h1>Projets</h1>
                <a class="button" href=" {{ path('app_project_add')}}">Ajouter un projet</a>
                </div>
            </div>
        </header>
        <div id="content">
            <div id="projects-container">
                {% for project in projects %}
                <article class="card-project">
                    <a href="{{ path('app_project_show', {id: project.id}) }}">
                        <h2>{{ project.name }}</h2>
                    </a>
                    <div class="card-project-icons">
                        <a href="{{ path('app_project_edit', {id: project.id}) }}"><i class="fa-solid fa-pen"></i></a>
                        <a href="{{ path('app_project_remove', {id: project.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </article>
                {% endfor %}
                <article class="card-project">
                    <a href="{{ path('app_project_add') }}">
                        <h2>Ajouter un projet</h2>
                        <i class="fa-solid fa-plus" style="padding-top: 1vh"></i>
                    </a>
                </article>
            </div>
        </div>
    </main>
</div>
</body>
</html>
{% endblock %}
